<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div>
            <label for="">Subject</label>
            <input type="text" name="subject">
        </div>
        <div>
            <label for="">Message</label>
            <input type="text" name="message">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <button type="submit">Send</button>

    </form>

</body>

</html>